label {
    display: block;
    
    input, textarea {
        display: block;
        width: 30%;
        margin-bottom: 20px;
        padding: 1em;
        align-content: center;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
        
    }
}

.cta, button {
    background: rgb(118, 1, 253);
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
    margin-left: 30px;
}