<h1>Termékcsaládok</h1>

<!--a routerLink="/user/bob" routerLinkActive="active-link">Bob</a-->

<ul>
  <li>
    <img src='assets/logos/szafi-free_logo.png'>
    <h4><a href="#" ng-click="!showDetails">Szafi free és reform</a></h4>
    <!--div id="description" ng-class="{ 'hidden':  showDetails }">
      Saját indíttatásból alapította a márkát Burján Szafi. 
      Először csak saját magának, később márkát épített rá. 
      A Szafi termékek fő jellemzője, hogy nem sok mindentől mentesek, 
      így könnyebb beilleszthetők az étrendbe összetett érzékenység esetén.
    </div>
    <pre id="description" ng-class="{ 'hidden':  showDetails }">
      Saját indíttatásból alapította a márkát Burján Szafi. 
      Először csak saját magának, később márkát épített rá. 
      A Szafi termékek fő jellemzője, hogy nem sok mindentől mentesek, 
      így könnyebb beilleszthetők az étrendbe összetett érzékenység esetén.
    </pre-->
  </li>

  <li>
    <img src='assets/logos/hunorganic_logo.jpg'>
    <p>Hunorganic</p>
  </li>

  <li>
    <img src='assets/logos/schar_logo.png'>
    <p>Schar</p>
  </li>

  <li>
    <img src="assets/logos/rice_up_logo.png">
    <p>Rice up!</p>
  </li>

  <li>
    <img src='assets/logos/gullon_logo.png'>
    <p>Gullon</p>
  </li>

  <li>
    <img src='assets/logos/glulu_logo.jpg'>
    <p>Glulu's</p>
  </li>

  <li>
    <img src='assets/logos/'>
    <p>Barbara</p>
  </li>

  <li>
    <img src='assets/logos/enjoy_free_logo.jpg'>
    <p>Aldi Enjoy Free</p>
  </li>

  <li>
    <img src='assets/logos/mimen_logo.png'>
    <p>Mimen</p>
  </li>

  <li>
    <img src='assets/logos/cornito_logo.jpg'>
    <p>Cornito</p>
  </li>

  <li>
    <img src='assets/logos/mester_csalad_logo.png'>
    <p>Mester család</p>
  </li>
  
</ul>

<!--TODO Fixálni kellene valahogy az li-k méretét, mert több, pératlan, vagy egyéb megjelenített adat esetén átfolyik egy része a következő oszlopba. Táblázatos 2 oszlopban megoldás esetleg?-->