<h1>Termékcsaládok</h1>

<ul mat grid-list>
  <li>
    <img src='assets/logos/szafi-free_logo.png'>
    <p>Szafi Free és reform</p>
  </li>
  <li>
    <img src='assets/logos/hunorganic_logo.jpg'>
    <p>Hunorganic</p>
  </li>
  <li>
    <img src='assets/logos/schar_logo.png'>
    <p>Schar</p>
  </li>
  <li>
    <img src="assets/logos/rice_up_logo.png">
    <p>Rice up!</p>
  </li>
  <li>
    <img src='assets/logos/gullon_logo.png'>
    <p>Gullon</p>
  </li>
  <li>
    <img src='assets/logos/glulu_logo.jpg'>
    <p>Glulu's</p>
  </li>
</ul>