@import "~@ng-select/ng-select/themes/default.theme.css";
  
  .searchField{
      padding: 20px;
      margin: 20px;
      margin-bottom: inherit;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10%;
  }

  #gsearch{
      opacity: 80%;
  }

  #map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }

  .grid-container{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  #gsearch{
    width: 250px;

  }

  /*.multiselect, .ng-select.custom{
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;

    #item{
      background-color: rgb(149, 33, 243);
    }
  }*/

  button {
    background: rgb(118, 1, 253);
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
    margin-left: 30px;
}


.ng-select{
  background: white;
  opacity: 70%;
  width: 50%;
  font-style: black;
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background:gray;
    .ng-select{
      background: rgb(118, 1, 253);
    }
  }
  
}
