  .searchField{
      padding: 20px;
      margin: 20px;
      margin-bottom: inherit;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10%;
  }

  #gsearch{
      opacity: 80%;
  }

  #map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }

  .grid-container{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  #gsearch{
    width: 250px;

  }

  /*.multiselect, .ng-select.custom{
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;

    #item{
      background-color: rgb(149, 33, 243);
    }
  }*/

  button {
    background: rgb(118, 1, 253);
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
    margin-left: 30px;
}

/*ng-select.custom {
  border:5px;
  min-height: 30px;
  border-radius: 3;
}
.ng-select.custom .ng-select-container  {            
  min-height: 30px;
  border-radius: 0;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: rgb(118, 1, 253);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}*/

/*ng-select.ng-select.custom{
  scrollbar-highlight-color: blueviolet;
}

.ng-select.custom {
  .ng-select-container {
    height: 42px;
    background-color: blueviolet;
    border: 1px solid;
    .ng-value-container {
      color: black;

      .ng-placeholder {
        color: black;
      }
    }
  }
}*/

.custom{
  background: blueviolet;

  
}

.ng-select-container{
  background: chartreuse;
}