 <h1>Kereső</h1>
  <br>
  <!-- Keresési feltételeket definiáló mezők létrehozása. Lehetőség van cím, hely neve, típus, vagy ezek bármilyen kombinációja szerint keresni.-->
  <div>
    <label class="addressOfPlace" for="gsearch">Cím megadása: </label>
    <input type="search" id="gsearch" name="addressOfPlace"> 
  </div>
  <br>
  <div>
    <label class="nameOfPlace" for="gsearch">Hely nevének megadása: </label>
    <input type="search" id="gsearch" name="nameOfPlace"> 
  </div>
  <br>
  <div>
    <label class="typeOfPlace" for="types">Hely típusának választása: </label>
    <select id="types">
      <option value="saab">Bármi</option>
      <option value="opel">Pékség</option>
      <option value="audi">Cukrászda</option>
      <option value="saab">Üzlet</option>
      <option value="opel">Házhozszállítás</option>
      <option value="audi">Étterem</option>
    </select>
  </div>
  <br>

  
  
  <h3>My Google Maps Demo</h3>
    <!--A térkép div elemje -->
    <div id="map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFBC-EDVzCdBbvuNCkaMOndLp2IQpOfs&callback=initMap">
        // Initialize and add the map
    function initMap() {
        // A térkép kezdeti megjelenített értéke szélességi és hosszúsági koordináták szerint
        var central = {lat: 47.2933, lng: 19.0305};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: central});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: central, map: map});
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFBC-EDVzCdBbvuNCkaMOndLp2IQpOfs&callback=initMap">
</script>
<!-- Melyik a helyes megoldás? Ha külön scriptben vannak, vagy ha azonosban?-->