 <h1>Kereső</h1>
  <br>
  <!-- Keresési feltételeket definiáló mezők létrehozása. Lehetőség van cím, hely neve, típus, vagy ezek bármilyen kombinációja szerint keresni.-->
  <div>
    <label class="addressOfPlace" for="gsearch">Cím megadása: </label>
    <input type="search" id="gsearch" name="addressOfPlace"> 
  </div>
  <br>
  <div>
    <label class="nameOfPlace" for="gsearch">Hely nevének megadása: </label>
    <input type="search" id="gsearch" name="nameOfPlace"> 
  </div>
  <br>
  <div>
    <label class="typeOfPlace" for="types">Hely típusának választása: </label>
    <select id="types">
      <option value="saab">Bármi</option>
      <option value="opel">Pékség</option>
      <option value="audi">Cukrászda</option>
      <option value="saab">Üzlet</option>
      <option value="opel">Házhozszállítás</option>
      <option value="audi">Étterem</option>
    </select>
  </div>
  <br>

  <label for="province" accesskey="p">Province / Territory</label>
<select name="province" id="province">
	<option>Alberta
	<option>British Columbia
</select>
  <!--form [formGroup]="searchForm"> <(ngSubmit)="onSubmit(form.value)" *ngFor="let specialities of specialities.controls; let i=index"-->
    <!--div>
      <input type="checkbox" [formControl]="specialities">{{intOrSpec.specialities.name}}
    </div>
  </form>


   <button type="button" class="cta">Keresés</button>
  <label ng-repeat="platform in newplatforms">
    <input type="checkbox" name="{{platform.name}}" id="{{platform.name}}" ng-model="platform.checked" ng-change="selectedPlatforms()">
    <label for="{{platform.name}}">{{platform.name}}</label>
  </label>
  <pre>{{application.platforms}}</pre>
  
  <button ng-click='showSelectedPlatforms()'>Show</button>
  
  <pre>{{selectedone}}</pre-->
  <!--div>
  <label class="container">Glutén
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">Laktóz
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Tojás
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Zeller
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  </div-->
  
  <h3>My Google Maps Demo</h3>
    <!--A térkép div elemje -->
    <div id="map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFBC-EDVzCdBbvuNCkaMOndLp2IQpOfs&callback=initMap">
        // Initialize and add the map
    function initMap() {
        // A térkép kezdeti megjelenített értéke szélességi és hosszúsági koordináták szerint
        var central = {lat: 47.2933, lng: 19.0305};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: central});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: central, map: map});
    }
</script>
<!--script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFBC-EDVzCdBbvuNCkaMOndLp2IQpOfs&callback=initMap">
</script-->
<!-- Melyik a helyes megoldás? Ha külön scriptben vannak, vagy ha azonosban?-->