<section>
  <h1>Üdvözöllek!</h1>
  <div class="landingpage">
    <p>Az oldal célja, hogy itt egy helyen megtalálj mindent, amit keresel, és ne kelljen ehhez több oldalt meglátogatnod.</p>
    
  <p>Kérlek, hadd vezesselek körbe az oldalon. </p>
  <p>A kereső alatt megadott feltételek, vagy egy hely, esetleg városrész neve alapján tudsz keresni éttermeket, boltokat, cukrászdákat.
    Előfordulhat, hogy egy adott új hely még nem szerepel az adatbázisban. Ez esetben kérlek, vedd fel velem a kapcsolatot a Kapcsolat menüpont alatt, és add meg az adatokat.</p>

  <p>Termékek menüpont alatt különböző termékcsaládok, és azok termékeit sorolom fel a teljesség igénye nélkül. Kérlek, amennyiben új termékcsaládot fedeztél fel, vedd fel velem a kapcsolatot.</p> </div>
  <router-outlet></router-outlet>
</section>
